Q 1 .What are data structures, and why are they important ?
    
       --It is the way of storing and organizing data , so that it can be accessed easily and manupulate efficiently.

  It is important due to the following reason :


* Data structures are fundamental to writing optimized and scalable programe.
*   Efficiency- Proper data structures optimize time and space  complexity.
*   It makes the code readable and maintainable.
*   Widelyu used in real world applications.



 Q 2 . Explain the difference between mutable and immutable data types with   example ?

        -- Mutable: Can be changed after creation (example- list, dict, set)
        -- mmutable: Cannot be changed—modifications create a new object (example- int, str, tuple).

        * Mutable objects are flexible but require careful handling to avoid unintended side effects.

        * Immutable objects are safer (thread-safe, hashable) but may be less memory-efficient for frequent changes.



Q 3 . What are the main differences between lists and tuples in Python ?

      - The main difference are :

   ▶ Mutability

   List: Mutable (can modify after creation).

        Tuple: Immutable (cannot modify after creation).

   ▶ Syntax

     List: [1, 2, 3]

     Tuple: (1, 2, 3)

  ▶ Performance

  Tuples are faster and use less memory (fixed size).

   Lists are slower but flexible (dynamic resizing).

  ▶ Use Cases

  Use Lists for changing data (e.g., dynamic collections).

  Use Tuples for fixed data (e.g., constants, dictionary keys).



Q 4 . Describe how dictionaries store data ?

      -- A dictionary in Python stores data as key-value pairs. Each key is unique and points to a value. It works like a real-life dictionary: you look up a word (key) to get its meaning (value). Python uses a hashing system behind the scenes to find values quickly, so looking things up is fast. Keys must be immutable (like strings or numbers), and values can be anything.


Q 5 . Why might you use a set instead of a list in Python ?

      -- We use a set instead of a list when we want to store unique items only and dont care about the order. Sets are great for things like removing duplicates or checking if something exists quickly. They are also faster than lists when it comes to searching for values.


Q 6 . What is a string in Python, and how is it different from a list ?

      -- A string in Python is a bunch of letters or characters, like "hello" or "abc123". It's used for text.

      A list is a collection of items, like [1, 2, 3] or ["a", "b", "c"].

 ▶  Main differences:

 * String is only for text.

 * List can hold anything (numbers, text, even other lists).

 * Strings can not  be changed once made.

 * Lists can be changed (you can add, remove, or update items).

 * Strings use quotes ("hi"), lists use square brackets (["h", "i"]).



 Q 7 . How do tuples ensure data integrity in Python ?

  -- Tuples ensure data integrity in Python because they are immutable — once a tuple is created, its values cannot be changed, added to, or removed.


  * The data stays fixed and safe from accidental changes.

  * It is useful when you want to store constant or protected values, like coordinates, dates, or configuration settings.


Q 8 . What is a hash table, and how does it relate to dictionaries in Python ?

      -- hash table is a way of storing data that makes looking things up really fast. It does this by turning a key (like a name) into a number using a process called hashing, then using that number to find where the data is stored.

      In Python, dictionaries use hash tables behind the scenes. When you create a dictionary and add a key-value pair, Python hashes the key to decide where to put the value. Later, when you ask for that key, it uses the hash again to quickly find the value.


Q 9 . Can lists contain different data types in Python ?


-- Yes, lists can contain different data types in Python. A list can hold numbers, strings, booleans, other lists—basically anything.


  mixed_list = mixed_list = [42, "hello", True, 3.14, [1, 2, 3]]
      


Q 10 . Explain why strings are immutable in Python.

  -- trings are immutable in Python so they stay safe, can be reused efficiently, and work properly as dictionary keys.


Q 11 .What advantages do dictionaries offer over lists for certain tasks ?

  -- Dictionaries are better than lists when you want to quickly find something using a name or label instead of remembering its position. They're easier to read and more organized when dealing with data that has clear labels, like a person's name, age, or address.


Q 12 .Describe a scenario where using a tuple would be preferable over a list.


  -- We use a tuple instead of a list when the data should stay the same. For example, if you're saving a person's birth date:


        Birth_date = (1995, 6, 18)
   A birth date does not change, so using a tuple helps keep it safe and shows that the values are fixed.


Q 13 . How do sets handle duplicate values in Python ?

  -- In Python, sets automatically remove duplicate values. If you add the same item more than once, the set keeps only one copy.

  
Q 14 . How does the “in” keyword work differently for lists and dictionaries ?

  -- The in keyword in Python is used to check for membership, but it behaves differently for lists and dictionaries.

   In lists, in checks whether a specific value exists in the list.

  Example: "apple" in ["apple", "banana"] returns True.

  In dictionaries, in checks whether a specific key exists in the dictionary, not the value.

  Example: "name" in {"name": "samim", "age": 25} returns True, but "samim" in {...} returns False because it is a value, not a key.



Q 15 . Can you modify the elements of a tuple? Explain why or why not ?


  -- No, we can not change elements of a tuple because tuples are immutable once made, they stay the same. This keeps the data safe and makes Python run more efficiently.


Q 16 . What is a nested dictionary, and give an example of its use case ?

  -- A nested dictionary is just a dictionary inside another dictionary. It is useful when you want to organize detailed information clearly.

     Example :
     students = {
  "Alice": {"age": 20, "grade": "A"},
  "Bob": {"age": 22, "grade": "B"}
 }
Here, each student has their own dictionary of details.



Q 17 .Describe the time complexity of accessing elements in a dictionary ?

  -- Accessing elements in a dictionary is very fast, with a time complexity of O(1). This means it takes the same amount of time no matter how many items are in the dictionary. Python does this by using a hash table, which lets it quickly find the value using the key.


Q 18 . In what situations are lists preferred over dictionaries ?

  -- We use a list instead of a dictionary when we just need to store things in order and dont need labels or names for each item. Lists are great when you want to go through items one by one, or work with simple, ordered data like numbers, names, or tasks.


Q 19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

  -- Dictionaries are considered unordered because they focus on key-based access, not the order of items. This means We get values by their key, not by position, and we shouldn't rely on the order.


Q 20 . Explain the difference between a list and a dictionary in terms of data retrieval ?


  -- The difference between a list and a dictionary is in how we find things:

  In a list, you get items by their position (like the first, second, etc.).

  In a dictionary, you get items using a key (like a label or name).

In [1]:
# 1 . Write a code to create a string with your name and print it .

my_name = "Samim Kamal"
print(my_name)

Samim Kamal

In [2]:
# 2 .Write a code to find the length of the string "Hello World"
text = "Hello World"
len(text)

11

In [3]:
# 3 . Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [7]:
# 4 .Write a code to convert the string "hello" to uppercase
text = "hello"
uppercase_text = text.upper()
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [8]:
# 5 .Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print("Updated string:", new_text)

Updated string: I like orange

In [9]:
# 6 .Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [10]:
# 7 .Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [11]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

Second element: b

In [13]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [15]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = 100, 200, 300
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [16]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[2]
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

In [17]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("Minimum number:", minimum)

Minimum number: 5

In [18]:
# 14 .Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

In [19]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [22]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'a', 'c', 'b'}

In [23]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Cleared set:", my_set)

Cleared set: set()

In [25]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [26]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [27]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}


intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

In [28]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "Alice","age": 25,"city": "New York"}
print("Dictionary:", person)

Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [29]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}

# Access the value for key "name"
name_value = person['name']

print(name_value)

Alice

In [31]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove and get the value of "age"
removed_age = person.pop('age')

print(person)
print(removed_age)

{'name': 'Bob', 'city': 'New York'}
22

In [33]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}

# Check if 'city' exists in the dictionary
if 'city' in person:
    print("Key 'city' exists!")
else:
    print("Key 'city' does not exist.")

Key 'city' exists!

In [36]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 'apple', 'banana']

my_tuple = (4, 5, 6, 'orange', 'grape')

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 'apple', 'banana']
Tuple: (4, 5, 6, 'orange', 'grape')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [42]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)

import random

# Step 1: Create an empty list to store our numbers
numbers = []

# Step 2: Add 5 random numbers to the list
for i in range(5):
    new_number = random.randint(1, 100)  # Gets a random number between 1-100
    numbers.append(new_number)  # Adds it to our list


numbers.sort()  # Arranges numbers from smallest to largest

print("My sorted random numbers:", numbers)

My sorted random numbers: [27, 63, 76, 79, 88]

In [43]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "samim", "elderberry"]


print("The element at index 3 is:", my_list[3])

The element at index 3 is: samim

In [45]:
# 29.Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine them
combined = {**dict1, **dict2}

# Print the result
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [46]:
# 30. Write a code to convert a list of strings into a set.
# List of strings
string_list = ['apple', 'banana', 'apple', 'cherry']

# Convert list to set
string_set = set(string_list)

print(string_set)

{'banana', 'apple', 'cherry'}